@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Color variables
$purple-accent: #5263fc;
$dark-black: #0F0F10;
$med-black: #191A1F;
$light-black: #24272C;
$dark-gray: #55565A;
$light-gray: #848586;
$white: #FBFBFB;

// Potential Light mode 
// $purple-accent: #5263fc;
// $dark-black: #0F0F10;
// $med-black: #cccccc; 
// $light-black: #ddddddd0;
// $dark-gray: #848586;
// $light-gray: #55565A;
// $white: #191A1F;

// font variables
$font: 'Roboto', sans-serif;
$base-font-size: 18px;

// Set up a ratio system for fonts
:root{
    --ratio: 1.25;
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
}