body {
    background-color: black;
    color: white;
    font-family: 'Arial',Arial, Helvetica, sans-serif;

}

.bigGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;

}

.bigGrid .card1, .card2, .card3, .card4, .card5 {
    background-image: url(https://source.unsplash.com/random/600x600);
    padding:.5em;
}
.bigGrid .card2 {
    background-image: url(https://source.unsplash.com/random/601x600);
    padding:.5em;
}
.bigGrid .card3 { 
    background-image: url(https://source.unsplash.com/random/602x600);
    padding:.5em;
}
.bigGrid .card4 {
    background-image: url(https://source.unsplash.com/random/603x600);
    padding:.5em;
}
.bigGrid .card5 {
    background-image: url(https://source.unsplash.com/random/604x600);
    padding:.5em;
}
.text {
    background-color: rgba(0,0,0,.8);
    padding: 10px;
}