/*****************************************************
* Styling for home page 
******************************************************/
body{
    max-width: 1200px;
    margin: 0 auto;

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 1.8em;
    }

    h3{
        font-size: 1.6em;
    }

    p, ul{
        font-size: 1.3em;
    }
}

main{
    #main-text-area{
        max-width: 80%;
    }
}

footer{
    max-width: 100%;
}
