/*****************************************************
* Styling for home page 
******************************************************/
header{
    background-color: transparent;
    nav{
        ul{
            display: grid;
            grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
            .nav-logo{
                width: 50px;
                filter: invert(70%); 
            }
        }
    }
}
