@media only screen and (min-width: 63.5em){
    body{
        background-color:#FBEEC1;
    }

    #content{
        background-color: white;
        max-width: 1400px;
        margin: 0 auto;
    }

    header, footer{
        margin: 0 auto;
    }

    main{
        max-width: 850px;
        margin: 0 auto;
    }

    #top-banner{
        display: grid;
        grid-template-columns: auto 800px auto;
    }
    #logo-img{
        justify-self: right;
    }
    #header-text{
        text-align: left;
    }
    #navigation{
        max-width: 850px;
        margin: 0 auto;
    }
    
    #overlay{
        position: relative;
    }

    #hero-img{
        max-height: 455px;
    }

    #weather-summary{
        display: block;
        position: absolute;
        top: 95px;
        left: 40px;
        width: 250px;
        padding: 25px;
        background-color: rgba(82, 79, 79, 0.9);
        color: white;
    }

    .summary-list{
        display: block;
    }

    #summary-list{
        line-height: 30px;
        font-weight: bold;
    }

    #five-day-forecast p{
        margin: 0px;
        text-align: justify;
    }

    #article-img-large{
        display: none;
    }

    #article-img-small{
        display: block;
        float: right;
        padding-left: 30px;
        padding-bottom: 15px;
        max-width: 300px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .mapouter{
        margin: 0px 50px 0px auto;
    }

    #contact-text{ 
        margin: 0px auto 0px 50px;
    }


    /*********************************************
    * Gallery Page styling
    *********************************************/
    #gallery-grid-container{
        grid-template-columns: repeat(3, 30%);
    }

    .gallery-card:hover{
        box-shadow: 0 0 15px #333;
    }
    .card-desc{
        display: block;
        padding: 8px 10px;
        font-style: italic;
    }

    /*********************************************
    * Home Page styling
    *********************************************/
    #home-banner{
        height: 100px;
    }

    #home-banner img{
        padding: 0px 186.5px;
    }
    
    #region-container{
        grid-template-columns: repeat(3, 1fr);
    }

    #region-container h2{
        grid-column: span 3;
    }

    #region-container section{
        grid-template-columns: 1fr;
        padding: 0px;
    }

    #region-container section:hover{
        box-shadow: black 0px 0px 10px;
    }

    #region-container section img, #region-container section:nth-of-type(even) img{
        grid-row: 1/2;
        grid-column: 1/2;
        box-shadow: none;
        border-radius: 20px 20px 0px 0px;
    }

    #region-container .text-container, #region-container section:nth-of-type(even) .text-container{
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 20px;
    }
}
